.contact {
  &-header {
    button {
      width: 165px;
      @media (max-width: 960px) {
        width: 130px;
      }
      span {
        width: 10px;
        height: 5px;
      }
      svg {
        transform: rotate(90deg);
      }
    }
  }
}
