.description-slider {
  display: flex;
  padding-top: 106px;
  padding-bottom: 80px;
  min-height: 530px;
  @media (max-width: 960px) {
    flex-direction: column;
    padding: 32px 0;
  }

  &-content {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    color: #292c30;
    font-size: 16px;
    svg {
      width: 5px;
      height: 10px;
    }
    @media (max-width: 960px) {
      width: 100%;
      margin-bottom: 40px;
    }
    @media (min-width: 1200px) {
      white-space: pre-wrap;
    }
  }
  .description-slider-cards {
    width: 100%;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 960px) {
      flex-direction: column;
    }
    @media (min-width: 960px) {
      > div {
        width: 48%;
      }
    }
  }

  &-left {
    z-index: 0;
    width: 55%;
    .description-slider-content {
      @media (max-width: 960px) {
        width: 100%;
      }
      a {
        margin-top: 5px;
        width: fit-content;
      }
    }

    @media (max-width: 960px) {
      width: 100%;
    }
    h2 {
      > span {
        cursor: pointer;
        &:first-child {
          margin-right: 16px;
          @media (max-width: 639px) {
            margin-right: 8px;
          }
        }
      }
    }
  }
  &-right {
    width: 50%;
    position: relative;
    margin-left: -2%;

    @media (max-width: 960px) {
      width: 100%;
      margin-left: 0;
    }
    @media (max-width: 1150px) and (min-width: 960px) {
      height: 460px;
    }
    .arrows {
      span {
        position: absolute;
        top: 0;

        &:first-child {
          background-color: var(--primary-color);
          right: 50px;
          @media (max-width: 960px) {
            right: 40px;
          }

          svg {
            transform: rotate(180deg);
          }
        }
        &:last-child {
          right: 0;
          background-color: var(--secondary-color);
        }
      }
    }
    .description-slider-image {
      position: absolute;
      box-shadow: 10px 15px 40px 2px rgba(214, 213, 213, 0.5);
      @media (min-width: 960px) {
        max-height: 195px;
        max-width: 340px;
        min-height: 165px;
        min-width: 290px;
      }

      &-0 {
        top: 0;
        left: 5px;
        z-index: 2;
      }
      &-1 {
        right: 0;
        margin-top: 18px;
        top: 29%;
        z-index: 1;
      }
      &-2 {
        bottom: 0;
        left: 10%;
        z-index: 0;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        @media (max-width: 960px) {
          object-fit: cover;
        }
      }
    }
  }

  &-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
