.contact-form {
  > div {
    @media (min-width: 639px) {
      display: flex;
      justify-content: space-between;
      > div {
        width: 48%;
        input {
          margin-bottom: 0;
        }
      }
      margin-bottom: 32px;
    }
    @media (max-width: 639px) {
      > div {
        margin-bottom: 24px;
      }
    }
  }
  &-bottom {
    margin-top: 42px;
  }
}
