.progress {
  width: 100%;
  display: flex;
  justify-content: space-between;
  &-circle {
    width: 102px;
    @media (max-width: 960px) {
      width: 73px;
    }
  }
  &-content {
    width: calc(100% - 125px);
    color: black;
    span {
      font-size: 20px;
      font-weight: bold;
    }
    p {
      margin-top: 9px;
    }
    @media (max-width: 960px) {
      width: calc(100% - 95px);

      p {
        margin-top: 0;

        font-size: 14px;
      }
      span {
        font-size: 16px;
      }
    }
  }
}
