.newsletter-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  &-content {
    padding: 35px;
    @media (max-width: 639px) {
      padding: 24px;
    }
  }
  &-title {
    font-size: 20px;
    color: var(--primary-color);
  }
}
.newsletter-form {
  input {
    &::placeholder {
      opacity: 0.38;
    }
    border-radius: 30.5px;
    border: 1px solid var(--gray-color);
    margin-top: 16px;
    padding-left: 19px;
  }

  &-bottom {
    margin-top: 24px;
    button {
      margin: 0 auto;
    }
  }
}
