.faq {
  height: 100%;
  &-content {
    margin: 0;
    padding-bottom: 63px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    button {
      font-weight: 500;
    }
    p {
      padding-top: 35px;
      line-height: 1.75;
      letter-spacing: -0.1px;
    }
    list-style: none;
    > li {
      height: auto;
    }
    li:not(:last-child) {
      margin-bottom: 13px;
    }
  }
  &-description {
    color: #292c30;
  }
}
