@import "~uikit/src/scss/mixins.scss";
@import "~uikit/src/scss/variables.scss";
@import "~uikit/src/scss/components/base.scss";

@import "~uikit/src/scss/components/container.scss";
@import "~uikit/src/scss/components/grid.scss";
@import "~uikit/src/scss/components/width.scss";
@import "~uikit/src/scss/components/visibility.scss";

$mobile-size: 639px;
$tablet-size: 960px;
@font-face {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  src: local("Apercu-Regular"), local("Apercu-Regular"),
    url(/fonts/Apercu-Regular.otf) format("opentype");
}
:root {
  --primary-color: #c9002a;
  --secondary-color: #00009d;
  --primary-color-dark: #c9002cb2;
  --secondary-color-dark: #00009d8f;
  --gray-color: #f3f5f6;
}
.divider {
  margin: 3% 0;
  width: 58px;
  height: 2px;
  background-color: var(--secondary-color);
  @media (max-width: 639px) {
    width: 20px;
    margin-bottom: 24px;
  }
}

* {
  font-family: "Apercu";
  > p,
  ul {
    color: #292c30;
    line-height: 1.75;
    @media (max-width: 639px) {
      line-height: 1.71;
    }
  }
  > div {
    letter-spacing: -0.1px;
  }
}
.container {
  width: 90%;
  max-width: 1290px;
  margin: 0 auto;
}
h2,
h4 {
  margin-bottom: 0;
  line-height: unset;
  font-family: "Apercu";
  letter-spacing: normal;
  line-height: normal;
}
.title {
  font-size: 30px;
  font-weight: bold;
  width: 100%;

  color: var(--primary-color);
  @media (max-width: 960px) {
    font-size: 24px;
  }
  @media (max-width: 639px) {
    font-size: 20px;
  }
}
.button {
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-color: var(--primary-color);
  transition: opacity 0.3s;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 960px) {
    width: 32px;
    height: 32px;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  svg {
    width: 6px;
    height: 11px;
    fill: white;
    margin: auto;
  }
}
input,
textarea {
  width: 100%;
  font-size: 16px;
  padding: 10px 4px 10px 6px;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid lightgrey;
  background-color: transparent;
  &::placeholder {
    color: #292c30;
  }
  @media (max-width: 960px) {
    font-size: 14px;
  }
  &:focus {
    outline: none;
    border-color: var(--primary-color);
  }
}
.header-button {
  button {
    width: 170px;
    span {
      width: 10px;
      height: 5px;
    }
    svg {
      transform: rotate(90deg);
    }
  }
}
.overlay {
  position: relative;
  &-icon {
    z-index: 10;
    position: absolute;
    bottom: 25%;
  }
}
