.form {
  > * {
    margin-top: 24px;
    @media (max-width: 639px) {
      margin-top: 8px;
    }
  }

  .uk-margin-small-top {
    margin-top: 8px;
  }

  &__item-holder {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  &__item-label {
    font-size: 16px;
    margin-bottom: 8px;
    color: black;
    display: block;
  }
}
.error-message {
  margin-top: 4px;
  font-size: 14px;
  color: var(--primary-color);
}
