.link {
  display: inline-flex;
  align-items: baseline;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  svg {
    width: 5px;
    height: 10px;
    transition: transform 150ms ease-in-out;
  }
  &-right-icon {
    svg {
      margin-left: 8px;
    }
  }
  &-left-icon {
    height: 100%;
    svg {
      margin: auto 0;
      margin-right: 8px;
    }
  }
  &-underlined {
    text-decoration: underline !important;
  }
  &-animated {
    &:hover {
      svg {
        transform: translateX(4px);
      }
    }
  }
  &-primary {
    color: var(--primary-color);
    svg {
      fill: var(--primary-color);
    }
    &:hover {
      color: var(--primary-color-dark);
      svg {
        fill: var(--primary-color-dark);
      }
    }
  }
  &-secondary {
    color: var(--secondary-color);
    svg {
      fill: var(--secondary-color);
    }
    &:hover {
      color: var(--secondary-color-dark);
      svg {
        fill: var(--secondary-color-dark);
      }
    }
  }
}
